# Supabase Configuration
VITE_SUPABASE_URL=https://ppnbfzdhhzaoegnwjawr.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_XzkuOIhiLEeFj-g6u3iFkQ_8UDo5q4A

# ImgBB Configuration
VITE_IMGBB_API_KEY=0726bacdc4908851e9a7e23031377029
